.git
.gitattributes
.github

/vendor
/node_modules

.env

*.log
.vscode

/storage/app/public/*
/storage/app/private/*
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/storage/*.key

/bootstrap/cache/*

/public/build
/public/hot
/public/storage

docker-compose.yml
docker-compose.override.yml
Dockerfile
