.git
.gitignore
.gitattributes
.github

/node_modules
/vendor

*.log
.vscode

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*.txt

/public/build
/public/hot
/public/storage

docker-compose.yml
docker-compose.override.yml
Dockerfile
