/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
npm-debug.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
