services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: shopee-app
    restart: unless-stopped
    volumes:
      - shopee-storage:/var/www/storage
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/99-custom.ini
    networks:
      shopee-network:
        aliases:
          - shopee-dashboard
      database:
    env_file:
      - .env

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: shopee-app
    restart: unless-stopped
    command: php /var/www/artisan queue:work --sleep=3 --tries=3
    volumes:
      - shopee-storage:/var/www/storage
    networks:
      shopee-network:
      database:
    depends_on:
      - app
    env_file:
      - .env

  nginx:
    build:
      context: docker/nginx
      dockerfile: Dockerfile
    image: nginx:1.29.4-alpine
    restart: unless-stopped
    ports:
      - "${FORWARD_APP_PORT}:80"
    volumes:
      - shopee-storage:/var/www/storage
      - ./docker/nginx/conf.d/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      shopee-network:
      proxy:
        aliases:
          - shopee-nginx
    depends_on:
      - app

networks:
  shopee-network:
    driver: bridge
  proxy:
    name: proxy_manager
    # external: true
  database:
    # external: true

volumes:
  shopee-storage:
    driver: local
