services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: shopee_dashboard
        restart: unless-stopped
        volumes:
            - ./:/var/www
            - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - shopee-network

    nginx:
        image: nginx:1.29-alpine
        container_name: shopee_nginx
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
        depends_on:
            - app


networks:
    shopee-network:
        driver: bridge
