services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: shopee-dashboard
        restart: unless-stopped
        volumes:
            - /var/www
            - ./docker/php/php.ini:/usr/local/etc/php/conf.d/99-custom.ini
        networks:
            - shopee-network

    nginx:
        image: nginx:alpine
        container_name: shopee-nginx
        restart: unless-stopped
        ports:
            - "${FORWARD_APP_PORT}:80"
        volumes:
            - /var/www
            - ./docker/nginx/conf.d/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - shopee-network
        depends_on:
            - app


networks:
    shopee-network:
        driver: bridge
