services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: shopee-app
        restart: unless-stopped
        volumes:
            - .:/var/www
            - ./docker/php/php.ini:/usr/local/etc/php/conf.d/99-custom.ini
            - shopee-modules:/var/www/modules
            - shopee-vendor:/var/www/vendor
        networks:
            shopee-network:
                aliases:
                    - shopee-dashboard
            database:

    worker:
        image: shopee-app
        restart: unless-stopped
        command: php /var/www/artisan queue:work --sleep=3 --tries=3
        volumes:
            - .:/var/www
        networks:
            shopee-network:
            database:
        depends_on:
            - app

    nginx:
        build:
            context: ./docker/nginx
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - "${FORWARD_APP_PORT}:80"
        volumes:
            - .:/var/www
            - ./docker/nginx/conf.d/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            shopee-network:
            proxy:
              aliases:
                  - shopee-nginx
        depends_on:
            - app

networks:
    shopee-network:
        driver: bridge
    proxy:
        name: proxy_manager
        external: true
    database:
        external: true

volumes:
    shopee-modules:
        driver: local
    shopee-vendor:
        driver: local
